$animationTime: 500ms;

html, body {
    margin: 0;
    padding: 0;
}

ul {
    position: absolute;
    list-style: none;
}

button {
    display: block;
    height: 50px;
    width: 50px;
    float: left;
}

.slideDisplay {
    overflow: hidden;

    .slideContent {
        position: absolute;
        -webkit-transition: margin $animationTime ease;
        -moz-transition: margin $animationTime ease;
        -o-transition: margin $animationTime ease;
        transition: margin $animationTime ease;

        width: 100%;

        svg {
            height: 100%;
            background-color: white;
        }

        &.next {
            margin-left: 100%;
        }

        &.previous {
            margin-left: -100%;
        }
    }
}
